.container-CM{
     /* background-color: crimson; */
}
.title-CM{
    /* background-color: blueviolet; */
    text-align: center;
    height: 10%;
}
.connnection-title-CM {
    background-color: rgb(141, 141, 141);
    text-align: left;
    font-size: x-small; 
}

.section-CM{
    /* background-color: chartreuse; */
    display: flex;
    flex-wrap: wrap;
}
.container-children-CM{
    /* background-color: blue; */
    flex-grow: 1;
    margin: 10px;
}
.container-marry-CM{
    /* background-color: bisque; */
    flex-grow: 1;
    margin: 10px;
}
.container-information-CM {
    /* background-color: aqua; */
    flex-grow: 1;
    margin: 10px;

}
.section2-CM{
    /* background-color: saddlebrown; */
}
#contrat-details{
    text-align: left;
}
.container-contrat-CM{
    padding-top: 100px;
    text-align: center;
}
.add-children-CM {
    border-radius: 10px;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    font-size: 16px; 
    padding: 5px 0 5px 0;
    margin: 5px 5px 5px 5px;
    cursor: pointer; 
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
  }
  .add-children-CM:hover {
    background-color: #a3a3a3;
  }
  .divorce-CM {
    border-radius: 10px;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    font-size: 16px; 
    padding: 5px 0 5px 0;
    margin: 5px 5px 5px 5px;
    cursor: pointer; 
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
  }
  .divorce-CM:hover {
    background-color: #a3a3a3;
  }

