.containerForm{  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.containerInput {
    border-radius: 10px;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    font-size: 16px; 
    padding: 5px 0 5px 0;
    margin: 5px 5px 5px 5px;
}
.buttonSend {
    border-radius: 10px;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    font-size: 16px; 
    padding: 5px 0 5px 0;
    margin: 5px 5px 5px 5px;
    cursor: pointer; 
  }
  .buttonSend:hover {
    background-color: #a3a3a3;
  }